#Bulle {
	position: absolute;
	visibility: hidden;
	z-index: 1000;
    background: #faeec4;
    width: 330px; 
    height: auto; 
    padding: 1px; 
    text-align: left;
    border: 1px solid var(--couleur-primaire);
	text-align: center;
	font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 10px #c9c9c9;
}
	
#Bulle p{
	text-indent: 0;
	margin: 10px 10px;
    font-size: 16px;
	text-align: center;
	font-weight: bold;
}

#Bulle ul{
}

#Bulle li{
	list-style-type: none;
	text-align: left;
	font-weight: normal;
}

#Bulle em{
	text-align: center;
	font-weight: normal;
	font-size: 11px;
}

